@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
body{
  background: rgb(0, 242, 254);
    font-family: "Winky Sans", sans-serif;
}
p{
background-color:rgb(76, 26, 85);
color: white;
border-radius:1rem; 
padding:0.5rem;

}
.prompt{
    color:rgb(17, 146, 146);
}

.img{
    width:500px;
    height:500px;
}
footer{
    text-align: center;
    width:100%;
    height:4rem;
    position:fixed;
    background-color: #d6d2c4;
    margin-top: 5px;
    padding-top: 1rem;
}
navbar{
    opacity:0.4;
}

body.light-mode {
    background-color: white;
    color: black;
  }
  
  body.dark-mode {
    background-color: #121212;
    color: white;
  }
  #react-toggle i {
    font-size: 20px;
    cursor: pointer;
  }
  